<p-table [value]="statistiques">
  <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
          statistiques
          <p-button icon="pi pi-refresh"></p-button>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>#</th>
          <th>Quartiers</th>
          <th>Eclairage</th>
          <th>Vol</th>
          <th>Viol</th>
          <th>Agression</th>
          <th> Transport</th>
          <th> Action </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stat>
      <tr>
          <td>{{stat.id}}</td>
          <td> {{stat.quartier}} </td>
          <td>{{stat.eclairage}}</td>
          <td>{{stat.vol}}</td>
          <td>{{stat.viol}}</td>
          <td>{{stat.agression}}</td>
          <td>{{stat.transport}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary p-mr-2" label="voir schéma"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
          Au total, il ya  {{statistiques ? statistiques.length : 0 }} statistiques. Un pour chaque quartier en fonction des avis!
      </div>
  </ng-template>
</p-table>
