<div class="ml-5 contenu">
  <h2 class="texte"> Formulaire d'Ajout d'Un Nouveau Admin </h2>
  <form class="row">
    <div class="col-md-3 entete justify-content-center">
      <div class="login100-pic" data-tilt>
        <img class="image w-25" src="assets/images/identification.png" alt="IMG">
      </div>
      <mat-radio-group aria-label="Select an option" class="">
        <mat-radio-button value="femme">Femme</mat-radio-button>
        <mat-radio-button value="homme">Homme</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput>
          <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput>
          <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field> <br>
      <mat-form-field class="example-full-width p-mt-3">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Svp entrer un email valide
          </mat-error>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+221 &nbsp;</span>
          <input type="tel" matInput placeholder="70-555-12-34">
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput></textarea>
          <mat-icon matSuffix aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-form-field>
      </div>
    </div>


    <div class="example-button-row">
      <button mat-raised-button color="warn" class="col-md-3 gauche" type="reset">Annuler</button>
      <button mat-raised-button color="primary" class="col-md-3 droite">Ajouter</button>
    </div>
  </form>
</div>
